body {
    font-size: 0.86rem;
    font-family: Helvetica;
    font-weight: 300;
    background-color:  #eeeded;
    position: relative;
/*    overflow-y: auto !important;*/


}

th {

    color: blue !important;
    font-weight: normal;
    background-color:  #eeeded  !important;
}

td {

    
    background-color: #eeeded  !important;
}





.nav-link {
    color: blue !important;
    font-size: 1rem !important;
    letter-spacing: 0.001em;
    font-family: Minion;

}

.card-body {
    background-color: white;
    border: none;
    width: 100%;
    padding-left: 1px;
}

.nav {
justify-content: space-between !important;
flex: 1;
margin: auto !important;
display: flex;
/*background-color: yellow !important;*/

}

.container-fluid {
  
  padding-right: 0px;
  padding-left: 0px;
  margin-right: none;
  margin-left: none;



}

.lilleingolf {
    padding-left: 0px !important;
    margin-left: 0px !important;
    left: -3px !important ;
}


.carousel-control-prev, .carousel-control-next   {
    opacity: 0 !important;
    filter:alpha(opacity=0); /* IE support */
    width: 50%;
    
}

.vid   {
    opacity: 0 !important;
    filter:alpha(opacity=0); /* IE support */
    width: 50%;
    height: 100%;
    
    
}

.carousel-control-next {

  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='blue' viewBox='0 0 32 32'%3E%3Ctitle%3E3-Arrow Right%3C/title%3E%3Cg id='_3-Arrow_Right' data-name='3-Arrow Right'%3E%3Cpath d='M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z'/%3E%3C/g%3E%3C/svg%3E"), pointer;
  
}



.carousel-control-prev {

  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='blue' viewBox='0 0 32 32'%3E%3Cpath d='M32 15H3.41l8.29-8.29-1.41-1.42-10 10a1 1 0 0 0 0 1.41l10 10 1.41-1.41L3.41 17H32z' data-name='4-Arrow Left'/%3E%3C/svg%3E"), pointer;

}





/*OFF CANVAS*/

.offcanvas-start{
     width: 550px !important;
     height: 600px !important;
     margin-top: 60px;
     margin-left: 35px;
     margin-right: 15px;
     font-size: 0.8rem;
     box-shadow: 0px 0px 20px grey;
     border: none !important;

}



.offcanvas-header {
/*    padding-top: 10px !important ;*/
/*    padding-bottom: 10px !important;*/
}



.offcanvas-body {
    padding-top: 0px !important;
}

.offcanvas-title {
    margin-left: 10px;
    padding-bottom: 0px !important;
}

.offcanvas-backdrop-bg {
    background-color: white;
    background-color: #eeeded  !important;
    
}

.offcanvas-backdrop.show {
    opacity: 0% !important;
    background-color: #eeeded  !important;
}



.table {
    background-color:  #eeeded !important;
    padding-left: none !important;
    padding-right: none !important;
    margin-left: none !important;



    
}

th.theader {
    padding-left: 40px !important;
}

td.tdlist {
    padding-right: 20px !important;
    vertical-align: top;
}

td {
  text-align: left !important;
}






/*MODAL*/

.modal {

/*    margin-top: 40px;*/
    background-color: transparent !important;
        
    



}



.modal-content {
    
    background-color:  #eeeded !important;
    background-color: transparent !important;
    backdrop-filter: blur(100px) brightness(90%);
      -webkit-backdrop-filter: blur(100px) brightness(90%);
    
}



.modal-header {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color:  #eeeded !important;
}






.row-offcanvas-navbar {
  position: relative;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 5px dotted green;
}
.row-offcanvas-navbar.right.active {
  -webkit-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}


.modal-body {
    margin-right: 10px;
    margin-left: 10px;
    
}


/*ABOUT*/


.about {
    background-color:  #eeeded;
    padding-left: 0px !important;
    

}

.about2 {
    background-color:  #eeeded;
    padding-left: 10px !important;
    padding-top: 9.5px !important;
    line-height: 1.15em;
    

}

.about3 {
    background-color:  #eeeded;
    padding-left: 10px !important;
    padding-top: 9.5px !important;
    line-height: 1.15em;
    
}

.about4 {
    background-color:  #eeeded;
    padding-left: 0px !important;
    
}


p.description {
    font-size: 1.3rem !important;
    line-height: 1.4em;
    padding-right: 0px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    
}

p.descriptionbottom {
    padding-left: 10px !important;
    
}




@media only screen and (max-width: 600px) {


  body {
    font-size: 1.3rem;
}

.nav-link {
    color: blue !important;
    font-size: 1.7rem !important;
    letter-spacing: 0.001em;
    font-family: Minion;

}

.offcanvas-start{
     width: 84% !important;
     height: 70% !important;
     margin-top: 60px;
     margin-left: 35px;
     margin-right: 15px;
     font-size: 15px;
     box-shadow: 0px 0px 20px grey;
     border: none !important;

}

p.description {
    font-size: 1.3rem !important;
    line-height: 1.4em;
    padding-right: 0px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    
}

.grad{
    width: 100%;
}

.about2 {
    font-size: 15px !important;
    

}

.about3 {
    font-size: 15px !important;


}

